.ks-copyright{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    margin-top: 25px;
}

@media screen and (max-width: 800px){
    .ks-copyright{
        font-size: 12px;
    }
}