.ks-dropdown-details{
    background-color: #F6F6F6;
    border-radius: 20px;
    color: #FF6060;
    ;

    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    padding: 20px;
}
.ks-dropdown-box{
    padding-bottom: 25px;
}


@media screen and (max-width: 800px){
    .ks-dropdown-details{
        font-size: 12px;
        line-height: 17px;
    }

}