.ks-logement-equipement{
    display: flex;
    flex-direction: column;
    width: 45% ;
}

.ks-details{
    background-color: #F6F6F6;
    border-radius: 20px;

    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    padding: 20px;
}