.ks-host{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: pre-wrap; /* pour le saut de ligne */
    text-align: end;
}

.ks-host img{/*image du host*/
    max-width: 64px;
    max-height: 64px;
    border-radius: 50%;
}