.ks-location{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    
}


@media screen and (max-width: 800px){
    .ks-location{
        font-size: 14px;
        line-height: 20px;
    }
}