.ks-nav {
    display: flex;
    justify-content: flex-end;
}

.ks-nav-link{
    color:  #FF6060;
    padding: 10px;
    font-size: 1.4rem;
    text-decoration: none;
}

.ks-nav-link-active{
    color:  #FF6060;
    padding: 10px;
    font-size: 1.4rem;
    text-decoration: underline solid; 
}

@media screen and (max-width: 800px){
    .ks-nav-link , .ks-nav-link-active{
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
    }
}