.ks-rating-stars{
    display: flex;
    justify-content: flex-end;
}

.ks-rating-star{
    width: 24.75px;
    height: 24px;
}

@media screen and (max-width: 800px){
    .ks-rating-star{
        width: 13.4px;
        height: 13px;
    }
}



