.ks-rectangle{
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    height: 52px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;


    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;

}

@media screen and (max-width: 800px){
    .ks-rectangle{
        font-size: 13px;
        line-height: 19px; 
        height: 29.9px;
    }

    .ks-rectangle img{
        width: 18.42px;
    }
}