.ks-title{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
}


@media screen and (max-width: 800px){
    .ks-title{
        font-size: 18px;
        line-height: 26px;
    }
}