.ks-logement-section1 {

    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;

    justify-content:space-between;
    align-items: center;
    background-color: gainsboro;
    border-radius: 20px;
    color: red;
}

.ks-logement-section2 {

    display: flex;
    flex-direction: row;

    justify-content:space-between;
    background-color: gainsboro;
    border-radius: 20px;
    color: red;
}


.ks-logement-subsection12{
    display: flex;
    flex-direction: column;
}