.ks-nopage {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FF6060;
}
.ks-nopage img{
    padding-top: 100px;

}
.ks-nopage-lien{
    padding-top: 100px;
    padding-bottom: 30px;
}

.ks-nopage div a{
    color: #FF6060;
    font-size: 18px;
    line-height: 26px;
    text-align: left;

}


@media screen and (max-width: 800px){
    .ks-nopage img{
        width: 198px;
        height: 99px;
    }

    .ks-nopage h1{
        font-size: 18px;
        line-height: 26px;
        text-align: center;
    }
    
    .ks-nopage a{
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }

    .ks-nopage-lien{
        padding-top: 100px;
        padding-bottom: 150px;
    }   



}