.ks-propos{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 25px;
    padding-bottom: 25px;
}


@media screen and (max-width: 800px){
    .ks-propos{
        padding-left: 0%;
        padding-right: 0%;
    }

}